<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Products</ion-title>
    <ion-buttons slot="end" *ngIf="accountId != -1">
      <ion-button (click)="viewCarts()">
        <ion-icon slot="icon-only"   name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row >
      <ion-col sizeLg="6" sizeMd="6" sizeXs="12" *ngFor="let item of items" (click)="viewProduct(item.productId)">
        <ion-card class="dashboard-item ion-justify-content-evenly" >

          <div class="product-image">
            <img alt="Silhouette of mountains" class="product-image" src="{{getImageUrl(item.urlImage) }}" />
          </div>
          <ion-card-header class="ion-text-center card-title-min-height bg-primary">{{item.name}}</ion-card-header>
          <!--<ion-card-content [innerHTML]="item.description">
          </ion-card-content>-->
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<commerce-accounts></commerce-accounts>
