
<div style="margin-top:auto!important;margin-bottom: auto!important;display: block">
  <h1 class=" ion-text-center custom-header ion-margin">
    Select Liferay Product
  </h1>
  <ion-item (click)="visit('/sites')" button>
    <ion-thumbnail>
      <ion-img src="./assets/images/logos/dxp.png"></ion-img>
    </ion-thumbnail>
    <ion-title>
      DXP
    </ion-title>
  </ion-item>
  <ion-item (click)="visit('/commerce')" button>
    <ion-thumbnail>
      <ion-img src="./assets/images/logos/commerce.png"></ion-img>
    </ion-thumbnail>
    <ion-title>
      Commerce
    </ion-title>
  </ion-item>
</div>




