
  <div style="margin-top:auto!important;margin-bottom: auto!important;display: block">
    <img style="margin:auto!important;display: flex" width="90" src="./assets/images/logos/liferay.png"/>
    <h1 class=" ion-text-center custom-header">
      Liferay Mobile App
    </h1>
    <h2 class="ion-text-capitalize ion-text-center custom-sub-header">
      setup
    </h2>
    <form [formGroup]="ionicForm" (ngSubmit)="start()" class="ion-padding">
      <ion-item>
        <ion-label position="floating">Portal URL
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.url.errors?.required">
            <ion-icon name="medical"></ion-icon> <!--filled-->
          </span>
        </ion-label>
        <ion-input formControlName="url" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">User Name
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.username.errors?.required">
             <ion-icon name="medical"></ion-icon>
        </span>
        </ion-label>
        <ion-input formControlName="username" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.password.errors?.required">
           <ion-icon name="medical"></ion-icon>
        </span></ion-label>
        <ion-input formControlName="password" type="password" required></ion-input>
      </ion-item>
      <ion-grid class="ion-margin-top ion-padding-top">
        <ion-row>
          <ion-col size="3">
            <ion-button type="submit" class="ion-float-start" expand="full" shape="round" color="success">
              Start
            </ion-button>
          </ion-col>
          <ion-col size="6">
          </ion-col>
          <ion-col size="3">
            <ion-button class="ion-float-end" expand="full" shape="round" color="danger">
              Clear
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>




