.card-icon
{
  height: 6rem;
  overflow: hidden;
  justify-items: center;
  display: flex;
}
.card-icon img
{
  margin: auto!important;
  height: 85% !important;

}
.card-title-min-height
{
  height: 4rem;
}
